
header {
	display: flex;
	flex-wrap: wrap;
	margin: 24px 0 48px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: inline-block;
	font-size: 1.5rem;
	margin: 0;
}