
.tasks {
	margin-bottom: 32px;
	padding: 16px;
	background: #eef2f6;
	border-radius: 8px;
}

.stage {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 32px;
}

.task-item {
	display: flex;
}
.task-item:hover {
    outline: 1px solid #b9c9d3;
    outline-offset: 4px;
}

.form-check {
	flex: 1 1 auto;
	align-self: center;
	position: relative;
}
.form-check-label {
	display: block;
}
.form-check-label:after {
    content: "";
    position: absolute;
    left: -5px;
    top: -11px;
    right: 0px;
    bottom: -11px;
}

.input-time {
	display: inline-flex;
	flex: 0 0 auto;
	align-items: center;
}
.input-time__input {
	width: 80px;
	margin-right: 8px;
}